body {
    padding-top: 56px; 
    background-color: #14b866;
}


.hero-section {
    background: url('https://via.placeholder.com/1920x1080?text=Banner+Delicioso') no-repeat center center/cover;
    height: 60vh; 
    background-attachment: fixed;
    padding: 100px 0;
    
}

/* Estilização dos cards */
.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

/* Cores dos preços */
.text-primary {
    color: #0d6efd !important;
}

/* Cor do botão "Pedir" */
.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}